body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}

h2{
    color: #08386b;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
.produits{
    width: 70%;
    margin: 40px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
}
.produits th, .produits td{
    padding: 20px 20px;
    border: 1.3px solid #2c1f1f;
    text-align: center;
}
.produits th{
    background-color: #0c4c91;
    color: #fff;
    font-size: 18px;
}
.produits td{
    font-size: 16px;
    font-weight: 700;
}
.produits tr:nth-child(even){
    background-color: #709dd0;
}
.produits tr:hover{
    background-color: #d0e4f7;
}
  